/* General */
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
}
a{
    color: white;
}
a:hover, a:active, a:focus{
    color: #F7861A;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #F7861A;
    font-size: 18px !important;
}

/* Navbar */
#navbar{
    height: 100px;
    background-color: #1D1C36;
    padding: 25px 65px;
    white-space: nowrap;
}
#navbar .logo{
    height: 50px;
    width: 50px;
}
#navbar .container-fluid{
    padding: 0;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.nav-links ul li a{
    padding: 0 12px;
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.nav-links ul li a span{
    color: #F7861A;
}

/* Home (landing page) */
#home{
    height: 100vh;
    background-color: #1D1C36;
    position: relative;
}
#home .container-fluid{
    margin: 0;
    padding: 250px 200px;
}
#home h1{
    font-weight: 300;
}