/* General */
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
}
a{
    color: white;
}
a:hover, a:active, a:focus{
    color: #F7861A;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #F7861A;
    font-size: 18px !important;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    font-size: 288px !important;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 48px !important;
}
p{
    font-family: 'Roboto', sans-serif;
}

.rotate {
    color: #F7861A;
    font-size: 36px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.big-number-left{
    position: relative;
    margin: -130px 0 0 30px;
    width: fit-content;
}
.big-number-right{
    position: relative;
    margin: -130px 0 0 730px;
    width: fit-content;
}

.emblem{
    position: relative;
    left: 50%;
    color: white;
    font-size: 32px;
    top: 330px;
}

/* Navbar */
#navbar{
    background-color: #1D1C36;
    padding: 25px 72px;
    white-space: nowrap;
    transition: 0.4s;
    box-shadow: 0px 10px 30px -10px rgba(17, 16, 41, 0.7);
}

#navbar .logo{
    height: 40px;
    width: 40px;
}
#navbar .container-fluid{
    padding: 0;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}
.nav-links ul li a{
    padding: 0 12px;
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.nav-links ul li a span{
    color: #F7861A;
}

/* Back to top arrow */
#corner-arrow{
    position: fixed;
    bottom: 70px;
    right: 90px;
    z-index: 1001;
}
#topBtn{
    color: #F7861A;
    font-size: 36px;
    animation: bounce 2s infinite;
}

/* Home (landing page) */
#home{
    height: 100vh;
    background-color: #1D1C36;
    position: relative;
}
#home .container{
    width: 100%;
    padding: 250px 0 0 50px;
}
#home h1{
    font-weight: 300;
}
#home-name{
    font-size: 64px !important;
    font-weight: 400 !important;
    color: white;
}
#home-description{
    font-size: 56px !important;
    font-weight: 400 !important;
    color: #C3C2E1;
}
#home-blurb{
    font-size: 18px;
    width: 450px;
    margin: 45px 0;
    line-height: 23px;
    font-size: 18px !important;
    color: #A9A9C9;
}
#resume-btn{
    height: 50px;
    width: 125px;
    border-radius: 5px;
    border: 2px solid #F7861A;
    color: #F7861A;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
}

/* Socials Bar */
#socials-bar{
    position: absolute;
    padding: 0 80px;
    z-index: 1;
    bottom: 0;
}
#socials-bar ul{
    padding: 0;
    margin: 0;
}
#socials-bar ul li{
    padding: 10px 0;
    text-align: center;
}
#socials-bar .fab, .far{
    color: white;
    font-size: 24px;
}
#socials-bar .vertical-line{
    border-left: 2px solid white;
    height: 132px;
    position: relative;
    left: 50%;
    margin-left: -1px;
    margin-top: 10px;
}

/* About Me */
#about{
    height: 100vh;
    background-color: white;
}
#about .container{
    width: 100%;
    padding: 200px 50px;
}
#about .container h1{
    position: relative;
    z-index: 1;
    font-weight: 200;
    letter-spacing: 5px;
}
#about .container h2{
    color: #DFDFE3;
}
#about .container p{
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 24px;
    margin-top: -170px;
    width: 800px;
}
#about .vertical-line{
    border-left: 2px solid #1D1C36;
    height: 210px;
    position: absolute;
    left: 91px;
}

/* Experiences */
#experiences{
    background-color: #1E1C37;
}
#experiences .container{
    width: 100%;
    padding: 200px 0;
    text-align: right;
}
#experiences .container h1{
    position: relative;
    z-index: 1;
    font-weight: 200;
    letter-spacing: 5px;
}
#experiences .container h2{
    color: #3D3A5A;
}
#experiences .container h3{
    position: relative;
    float: right;
    z-index: 1;
    color: white;
    width: 550px;
    margin-top: -170px;
}
#experiences .vertical-line{
    position: absolute;
    border-left: 2px solid white;
    left: 50%;
}
.fa-square-full{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 50px;
    margin-left: -15px;
    background-color: #1E1C37;
}
