/* General */
html{
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
}
a{
    color: white;
}
a:hover, a:active, a:focus{
    color: #F7861A;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #F7861A;
    font-size: 18px !important;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700 !important;
    font-size: 288px !important;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 400 !important;
    font-size: 48px !important;
}
h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-size: 16px !important;
    color: #A9A9C9;
    margin-bottom: 5px !important;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-size: 18px !important;
    color: white;
}
p{
    font-family: 'Roboto', sans-serif;
}
button, button:focus, button:active{
    outline: none !important;
    box-shadow: none !important;
}

.rotate {
    color: #F7861A;
    font-size: 36px;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.down {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.big-number-left{
    position: relative;
    margin: -130px 0 0 30px;
    width: fit-content;
}
.big-number-right{
    position: relative;
    margin: -130px 0 0 730px;
    width: fit-content;
}

/* Navbar */
#navbar{
    background-color: #1D1C36;
    padding: 25px 72px;
    white-space: nowrap;
    transition: 0.4s;
    box-shadow: 0px 10px 30px -10px rgba(17, 16, 41, 0.5);
}

#navbar .logo{
    height: 40px;
    width: 40px;
}
#navbar .container-fluid{
    padding: 0;
}
.nav-links ul{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}
.nav-links ul li a{
    padding: 0 12px;
    color: white;
    font-weight: 300;
    text-decoration: none;
}
.nav-links ul li a span{
    color: #F7861A;
}

/* Back to top arrow */
#corner-arrow{
    position: fixed;
    bottom: 70px;
    right: 90px;
    z-index: 1001;
}
#topBtn{
    color: #F7861A;
    font-size: 36px;
    animation: bounce 2s infinite;
}

/* Home (landing page) */
#home{
    height: 100vh;
    background-color: #1D1C36;
    position: relative;
}
#home .container{
    width: 100%;
    padding: 250px 0 0 50px;
}
#home h1{
    font-weight: 300;
}
#home-name{
    font-size: 64px !important;
    font-weight: 400 !important;
    color: white;
}
#home-description{
    font-size: 56px !important;
    font-weight: 400 !important;
    color: #C3C2E1;
}
#home-blurb{
    font-size: 18px;
    width: 450px;
    margin: 45px 0;
    line-height: 23px;
    font-size: 18px !important;
    color: #A9A9C9;
}
#resume-btn{
    height: 50px;
    width: 125px;
    border-radius: 5px;
    border: 2px solid #F7861A;
    color: #F7861A;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: transparent;
}
#resume-btn:hover{
    background-color: #f7851a0a;
    transition: all linear 0.2s;
}

/* Socials Bar */
#socials-bar{
    position: absolute;
    padding: 0 80px;
    z-index: 1001;
    bottom: 0;
}
#socials-bar ul{
    padding: 0;
    margin: 0;
}
#socials-bar ul li{
    padding: 10px 0;
    text-align: center;
}
#socials-bar .fab, .far{
    color: white;
    font-size: 24px;
}
#socials-bar .vertical-line{
    border-left: 2px solid white;
    height: 132px;
    position: relative;
    left: 50%;
    margin-left: -1px;
    margin-top: 10px;
}

/* About Me */
#about{
    height: 100vh;
    background-color: white;
}
#about .container{
    width: 100%;
    padding: 200px 50px;
}
#about .container h1{
    position: relative;
    z-index: 1;
    font-weight: 200;
    letter-spacing: 5px;
}
#about .container h2{
    color: #DFDFE3;
}
#about .container p{
    position: relative;
    z-index: 1;
    font-weight: 400;
    font-size: 24px;
    margin-top: -170px;
    width: 800px;
}
#about .vertical-line{
    border-left: 2px solid #1D1C36;
    height: 210px;
    position: absolute;
    left: 91px;
}

/* Experiences */
#experiences{
    background-color: #1E1C37;
}
#experiences .container{
    width: 100%;
    padding: 200px 0;
    text-align: right;
    position: relative;
}
#experiences .container h1{
    position: relative;
    z-index: 1;
    font-weight: 200;
    letter-spacing: 5px;
}
#experiences .container h2{
    color: #3D3A5A;
}
#experiences .container h3{
    position: relative;
    float: right;
    z-index: 1;
    color: white;
    width: 550px;
    margin-top: -170px;
}
#experiences .vertical-line{
    position: absolute;
    top: 0;
    border-left: 2px solid white;
    left: 50%;
    z-index: 3;
    height: 100%;
}
.emblem{
    position: relative;
    left: 50%;
    color: white;
    font-size: 32px;
    width: min-content;
    top: 135px;
    z-index: 4;
}
.fa-square-full{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 50px;
    margin-left: -15px;
    background-color: #1E1C37;
}
.left-side{
    background-color: #1E1C37;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: 3;
}

/* Education Cards */
.education{
    position: relative;
    align-items: center;
    padding: 25px 0;
}
.ed-emblem{
    text-align: center;
    z-index: 4;
}
.fa-graduation-cap{
    font-size: 32px;
    color: #1E1C37;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
.education .description{
    z-index: 4;
}
.education .time{
    position: relative;
    z-index: 4;
}
.education h1{
    font-size: 24px !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
    margin-bottom: 5px;
}
.education button{
    height: 45px;
    width: 135px;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: transparent;
}
.education button:hover{
    background-color: #ffffff0a;
    transition: all linear 0.2s;
}
.experience{
    text-align: left;
}
.experience .description{
    z-index: 0;
}

.popout{
    width: 300px;
    position: absolute;
    text-align: left;
    z-index: 2;
    border: white 2px solid;
    border-radius: 10px;
    background-color: #1E1C37;
    transition: 0.5s;
}
.active{
    transform: translateX(630px);
}
.popout h1{
    color: white;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
}
.popout p{
    margin: 0;
    color: white;
    font-size: 16px;
}
.popout .courses-header{
    margin: 0;
    width: 100%;
    height: 60px;
    border-bottom: white 2px solid;
    align-items: center;
    text-align: center
}
.courses-title{
    margin: 0;
}
.courses{
    padding: 20px 0;
}
.courses ul{
    list-style: none;
    margin: 0;
    padding: 0 30px;
}
.courses ul li p::before {
    content: "\2022";
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
.average{
    float: right;
    padding-right: 10px;
}

/* Skills */
#skills{
    min-height: 100vh;
    background-color: #0A0913;
}
#skills .container{
    width: 100%;
    padding: 200px 50px;
}
#skills .container h1{
    position: relative;
    z-index: 1;
    font-weight: 200;
    letter-spacing: 5px;
}
#skills .container h2{
    color: #525159;
    position: relative;
    width: fit-content;
}
#skills .container h3{
    position: relative;
    float: left;
    z-index: 1;
    color: white;
    width: 550px;
    margin-top: -170px;
    width: 400px;
}
.skill-cat{
    margin: 20px 0;
}
.skill-header button{
    width: 100%;
}
.skill-header button h5{
    font-family: 'Roboto', sans-serif !important;
    font-size: 36px !important;
    font-weight: 300 !important;
    float: left;
    margin: auto;
}
.skill-header button h5 span{
    color: #F7861A;
}
.skill-header button i{
    font-size: 18px;
    color: white;
    float: right;
    margin: 12px 0;
}
.skill-body{
    padding: 25px 0 25px 75px;
}
.skill-body p{
    color: white;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.skill{
    margin-bottom: 20px;
}
.skill .progress{
    height: 5px;
}
.skill .progress .progress-bar{
    background-color: #F7861A;
}